* {
    color: white
}

body {
    background-color: rgba(60, 77, 7, 0.483);
}

.title {
    color: aqua
}

/* .header .about-text {
    color: white
} */

.header .about-text span {
    color: yellow
}

/* 
.classes li {
    color: white
}


.favorites .desc {
    color: white
}

.favorites ol li {
    color: white
} */
.favorites ol li span {
    color: red
}

.mood-box .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}